:root {
  --primary-color: #000000;
  --secondary-color: #fff;
  --jumbo-prime: #191919;
  --jumbo-inside: #232121;
  --primary-body: #000000;
  --primary-header: #1a1a1a;
  --prime-link: #f05837;
  --prime-header: #f05837;
  --border-color: #414c57;
}

body {
  background: var(--primary-color) !important;
}

.m-v3Topbar__top {
  background-color: var(--prime-header) !important;
  border-bottom: 1px solid var(--primary-header) !important;
}

.m-theme__dark .m-v3Topbar__top .m-v3Topbar__searchBox m-search--bar.m-search__bar--active,
.m-theme__dark .m-v3Topbar__top .m-v3Topbar__searchBox .m-search--bar {
  border: 0 !important;
  background-color: var(--prime-header) !important;
  transition: background-color ease-in-out 1s, -webkit-box-shadow ease-in-out 1s !important;
}

.m-v3Topbar__top .m-v3Topbar__searchBox m-search--bar>.mdl-textfield input,
.m-v3Topbar__top .m-v3Topbar__searchBox m-search--bar>.mdl-textfield input:focus {
  transition: background-color ease-in-out 0.5s, -webkit-box-shadow ease-in-out 0.5s !important;
}
.m-v3Topbar__top .m-v3Topbar__searchBox m-search--bar>.mdl-textfield input:focus {
  background-color: #242a30 !important;
}

/* Pitch Dark */
.m-theme--wrapper.m-theme--wrapper__dark m-app m-body, body.m-theme__dark m-app m-body {
  background: var(--primary-color) !important;
}

/* Light Dark */
.m-theme__dark [_nghost-m-app-c463] .m-channel-v2[_ngcontent-m-app-c463],
.m-pageLayout__container .m-pageLayout__container,
.m-activityModal__stageWrapper .ng-tns-c159-50,
.m-theme__dark [_nghost-m-app-c159] .m-activityModal__wrapper[_ngcontent-m-app-c159] .m-activityModal__theater[_ngcontent-m-app-c159],
.m-theme__dark [_nghost-m-app-c159] .m-activityModal__contentContainer[_ngcontent-m-app-c159],
.m-theme__dark [_nghost-m-app-c159] .m-activityModal__stageWrapper[_ngcontent-m-app-c159],
.m-theme__dark [_nghost-m-app-c337],
.m-theme__dark m-comments__entityOutlet .m-comments-composer form minds-textarea,
.m-theme__dark .mdl-card__actions .m-comments-composer--overflow,
.m-theme__dark .minds-avatar,
.m-theme__dark .m-group__info,
.m-theme__dark minds-groups-profile-conversation .m-group__chat,
minds-groups-profile-conversation .m-group__chat .m-comments__thread,
.m-comment--poster,
.m-theme__dark .mdl-card,
.m-comments__tree .m-comments-composer,
.m-theme__dark m-comments__tree .m-comments-composer form minds-textarea,
.m-theme__dark .m-dropdown--v2 .m-dropdown__list {
  background-color: var(--jumbo-prime) !important;
}
.m-theme__dark .mdl-card__actions .m-comments-composer--overflow {
  background: var(--jumbo-prime) !important;
}
/* .m-dropdown--v2 .m-dropdown__list, */
.m-theme__dark m-activity .m-bgOverlay--v2 {
  background: transparent !important;
}

/* Border Null */
.m-theme__dark .m-sidebarNavigation,
.m-theme__dark [_nghost-m-app-c463] .m-channel-v2[_ngcontent-m-app-c463] .m-channel__toolbar[_ngcontent-m-app-c463],
.m-theme__dark [_nghost-m-app-c462] .m-channel__feed[_ngcontent-m-app-c462] .m-channelFeed__toolbar[_ngcontent-m-app-c462],
.m-theme--wrapper.m-theme--wrapper__dark .m-pageLayout__pane--right, body.m-theme__dark .m-pageLayout__pane--right,
.m-comment .minds-avatar,
.m-theme__dark .m-pageLayout__pane--left,
m-comments__entityOutlet .m-comment--poster,
m-comment m-comment--poster minds-block ng-star-inserted {
  border: 0 !important;
}

.m-theme__dark .m-sidebarNavigation {
  background-color: var(--jumbo-prime) !important;
}

.m-sidebarNavigation .m-sidebarNavigation__list, .m-sidebar--groups {
  padding-left: 10px !important;
}

.m-theme__dark .m-sidebarWidget {
  background: var(--jumbo-prime) !important;
  margin-right: 10px !important;
}

.m-theme__dark m-composer,
.m-theme__dark m-activity ,
.m-theme__dark [_nghost-m-app-c337],
.m-theme__dark m-activity .m-comment .minds-avatar,
.m-sidebarWidget__title,
.m-sidebarWidget,
.m-sidebarWidget__body,
 .m-theme__dark m-usermenu__v3 .m-user-menu ul.m-userMenu__dropdown {
  background-color: var(--jumbo-inside) !important;
}
m-comments__entityOutlet .m-comment--poster,
m-comment m-comment--poster minds-block ng-star-inserted,
.m-theme__dark [_nghost-m-app-c337],
.m-sidebarWidget *,
.m-theme__dark m-notifications--flyout *,
.m-dropdown--v2 *,
.m-theme__dark .m-postMenu__button,
.m-theme__dark .m-postMenu__button * {
  background-color: inherit !important;
}

.m-theme__dark .m-activity--boost {
  border: 5px solid !important;
  border-image-source: linear-gradient(32deg, #4af, var(--prime-header)) !important;
  border-image-slice: 1 !important;
}

.m-readMoreButton--v2.showOnlyFadeout {
  background: linear-gradient(180deg,rgba(36,42,48,0) 0,var(--jumbo-prime) 70%,var(--jumbo-prime) 90%) !important;
}

/* Bottom */
.plyr__poster {
  background-color: rgb(0, 0, 0) !important;
  background-position: 50% 50% !important;
  background-repeat: no-repeat !important;
  background-size: contain !important;
}

/* Do Be Clubbing */
.m-theme__dark minds-groups-profile-conversation .m-group__chat,
minds-groups-profile-conversation .m-group__chat .m-comments__thread,
.m-comment--poster {
  border-left: 1px solid var(--border-color) !important;
}
.m-theme__2020 .m-groupGrid__toggleBtn {
  border: 2px solid !important;
  border-image-source: linear-gradient(32deg, var(--prime-header), var(--prime-header)) !important;
  border-image-slice: 1 !important;
}

/* Scroller that I didn't steal from my website */
::-webkit-scrollbar{
  width:10px;
  background-color:#191919;
}
::-webkit-scrollbar:horizontal{
  height:10px;
}
::-webkit-scrollbar-track{
  border:1px #191919 solid;
  border-radius:0px;
  -webkit-box-shadow:0 0 6px #191919 inset;
}
::-webkit-scrollbar-thumb{
  background-color:#f05837;
  border:1px solid #191919;
  border-radius:0px;
}
::-webkit-scrollbar-thumb:hover{
  background-color:#f05837;
  border:1px solid #191919;
}
::-webkit-scrollbar-thumb:active{
  background-color:#f05837;
  border:1px solid #191919;
}
