:root {
  --primary-color: #000000;
  --secondary-color: #fff;
  --jumbo-prime: #191919;
  --jumbo-inside: #232121;
  --primary-body: #000000;
  --primary-header: #1a1a1a;
  --prime-link: #f05837;
  --prime-header: #f05837;
  --border-color: #414c57;
}

@import url("https://darkopendragon.github.io/minds-darker/SourceCSS/source.css");
