:root {
  /* Backgrounds v */
  --pitch-dark: #000000;
  --light-dark: #191919;
  --light-dark-inside: #232121;

  /* Header */
  --header-background: #f05837;
  --header-border: #1a1a1a;
  --header-color: inherit;

  /* Borders */
  --prime-border-color: #333333;
  --group-msg-border: #f05837;

  /* Activity header */
  --prime-link: #f05837;

  /* Activity header hero */
  --activity-hero: #d53410;
  --activity-hero-text: #afb1b6;

  /* Genrelized Orange Color */
  --prime-header: #f05837;

  /* Sue me, Sargon */
  --lotus-primary: #322f4e;
  --lotus-jumbo: #1b1a20;
  --lotus-light-dark-inside: #363354;
  --lotus-linkb: #878fff;
}
